ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00bfff;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body{
  background-color:#000000;
}

h1{
  color: white;
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}
h2{
  text-align: center;
  color: white;
  font-family: serif;
}
.P1{
  border-radius: 50%;
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
  color: white;
}
.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container img {
  width: 100%;
  height: auto;
  width: 300px;
 height: 100px;
 background-color: red;
 font-weight: bold;
 position: relative;
 animation: mymove 5s infinite;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotateX(150deg);
  -ms-transform: translate(-50%, -50%);
  background-color:
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
  color: white;
}

 {
  background-color: black;
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  margin: 5px;
float: left;
width: 180px;
text-decoration: underline;
color:white
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

div.branches: ul{
  color: white;
  font-size: 25px;
  list-style-type: lower-alpha;
  background-color: black;
}

footer{
  color: white;
  text-align: center;

}
h4 {
  position: relative;
  display: inline-block;
}
div.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  text-align: left;
  border-radius: 2px solid;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.desc {
  padding: 15px;
  text-align: center;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
}
function myFunction() {
  document.getElementById("demo").style.color = "red";
}
.container2{
  background-color: white;
  border: 1px solid #1e90ff;
}
